app/lib/
app/node_modules/
app/dist/
.enyocache
app/org.webosports.app.messaging_*_all.ipk
.project
app/.DS_Store
app/build/
app/deploy/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/misc.xml
